__pycache__/budget.cpython-311.pyc
__pycache__/invest.cpython-311.pyc
__pycache__/invest.cpython-310.pyc
__pycache__/budget.cpython-310.pyc
__pycache__
exmp.csv
test.py
requirements.txt
bin/stock/logInvestement.txt
logs.txt
icon.ico
icon.png
venv
output